<section id="about" class="module">

	<div class="container">

		<!-- MODULE TITLE -->
		<div id="about-me" class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="module-title font-alt">About</h2>

				<div class="module-subtitle font-serif">
					It's easy money when you bet on the best.
				</div>
			</div>
		</div>
		<!-- /MODULE TITLE -->

		<div class="row">

			<!-- ABOUT STUDIO  -->
			<div class="col-sm-6">

				<h5 class="font-alt m-t-0 m-b-20">Who am I?</h5>
				<p>I am an artist, designer, web developer, academic, retail manager, and administrative professional with over 20 years
					of experience. I am confident my diverse skills and qualifications will help me excel in any position. </p><br>
				<p>Additionally, I possess a wide skillset, both technically and organizationally. I strive for collaboration, collegiality,
					and respect diverse ideas and opinions in all I undertake.</p> <br>
				<p>Within my resume, I demonstrate many of my skills and illustrate my knowledge of coding languages and frameworks. In
					addition to design and coding I am a technical writer and editor. I also created all the imagery, buttons, and giffs
					in this site using Photoshop.<br> The flashing sign is an actual sign I created using recycled materials.
				</p>
				<p></p>
				<p><a href="about.html">More About </a></p>

			</div>

			<!-- /ABOUT STUDIO  -->

			<!-- SKILLS -->
			<div id="race" class="col-sm-6">
				<!--<div class="race-box">-->

				<h6 class="progress-title font-alt">Development</h6>
				<img id="horse-1" ng-click="$ctrl.moveHorse(1, 250)" src="app/img/horse1.png" style="height:35px; position: absolute; top: 26px;"
					alt="whiteHorse" border="0">

				<div class="progress">
					<div id="horse-1-progress" ng-click="$ctrl.moveBar(1, 450)" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" 
					aria-valuemin="0" aria-valuemax="100" style="width: 100px; height: 20px; background: grey;"
						alt="whiteHorse" border="0">
						<span class="font-alt " style="opacity: 1; ">100</span>
					</div>
				</div>
				




				<!--<h6 class="progress-title font-alt ">Design</h6>
				<img id="horse-2" src="app/img/horse2.png" ng-click="$ctrl.moveHorse(2, 250)" style="height:35px; position: absolute; top: 87px;"></div>
			<div id="horse-2-progress">
				<div id="horse-1-progress" class="progress-bar pb-dark" aria-valuenow="90 " role="progressbar " aria-valuemin="0" aria-valuemax="100"
					style="width: 90%;">
					<span class="font-alt" style="opacity: 1;">90</span>
				</div>
			</div>





			<h6 class="progress-title font-alt">Educator</h6>
			<img id="horse-3" ng-click="$ctrl.moveHorse(3, 250)" src="app/img/horse3.png" style="height:35px; position: absolute; top: 120px;"
				alt="whiteHorse" border="0">

			<div class="progress">
				<div id="horse-3-progress" class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100"
					alt="whiteHorse" border="0">
					<span class="font-alt " style="background-color: none !important; opacity: 1; ">80</span>
				</div>
			</div>




			<h6 class="progress-title font-alt ">Artist</h6>
			<img src="app/img/horse4.png " style="height:35px; position: absolute; top: 10px;">
			<div class="progress">
				<div class="horse" class="progress-bar pb-dark " aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
					style="width: 100%;">
					<span class="font-alt" style="opacity: 1;">100</span>
				</div>
			</div>




			<h6 class="progress-title font-alt ">Educator</h6>
			<img src="app/img/horse4.png " style="height:35px; ">
			<div class="progress ">
				<div class="horse " class="progress-bar pb-dark " aria-valuenow="100 " role="progressbar " aria-valuemin="0
							" aria-valuemax="100 " style="width: 80%; ">
					<span class="font-alt " style="opacity: 1; ">80</span>
				</div>
			</div>




			<h6 class="progress-title font-alt ">Management</h6>
			<img src="app/img/horse4.png " style="height:35px; ">
			<div class="progress ">
				<div class="horse " class="progress-bar pb-dark " aria-valuenow="100 " role="progressbar " aria-valuemin="0
							" aria-valuemax="100 " style="width: 80%; ">
					<span class="font-alt " style="opacity: 1; ">80</span>
				</div>
			</div>-->
			<!--</div>-->
		</div>
		<!-- /SKILLS -->

	</div>

	<!--</div>-->

</section>