<section id="about" class="module">

	<div class="container">

		<!-- MODULE TITLE -->
		<div id="about-me" class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<h2 class="module-title font-alt">About</h2>

				<div class="module-subtitle font-serif">
					<em>It's easy money when you bet on the best.</em>
				</div>
			</div>
		</div>
		<div class="row">

			<div class="about col-sm-6">

				<!--<h5 class="font-alt m-t-0 m-b-20">My Skill Set</h5>-->
				<p>As a designer, web developer, educator, and retail manager with over 20 years of experience, my diverse skills and qualifications
					make me unique and highly adaptable.</p>
				<p>My portfolio demonstrates visual design thinking and skills in a variety of formats. I am extremely adept at Photoshop
					and familiar with the Adobe Suite software. I understand responsive design and can design for both mobile and web applications,
					with or without bootstrap.</p>
				<p>I learn new technologies quickly, and I am continually adding new skills and languages to my repertoire. </p>
				<p>Currently I have:</p>
				<ul>
					<li>
						A good understanding of HTML/ Javascript/ CSS/Bootstrap/ Angular/ jQuery, and the ability to prototype in these mediums.
					</li>
					<li>
						An understanding of “Object-Oriented Programming”.
					</li>
					<li>
						Ability to work collaboratively and in an “agile” environment.
					</li>
					</ul>
					<p>I am:</p>
					<ul>
					<li>
						A creative problem solver, and “results oriented”.
					</li>
					<li>
						Articulate with excellent communication skills. 
					</li>
					<li>
						Detail-oriented, organized, and able to maintain a positive attitude in stressful situations.
					</li>
					<li>
						A conceptual thinker and a visual communicator with mad drawing skills.
					</li>
				</ul>
				<p> While working toward my career in academia, I was an Administrative Assistant, and later Program Assistant, for The Idaho
					Commission on the Arts, a bill collector for Sears Credit Center, and a supervisor for companies such as Starbucks and
					Van Heusen. Each of these positions required superior administrative abilities, strong communication skills, excellent
					customer service, and the ability to manage time, multitask, and meet deadlines. They also required the ability to quickly
					assess complex situations and to evaluate alternatives and shift priorities within a dynamic and fast-paced environment.
					</p>
				<p>You will find I have a wide skill set, both technically and organizationally, and work well with a variety of individuals
					in varied settings. I strive for collaboration, collegiality, and respect diverse ideas and opinions in all I undertake.</p>
				<p>My decade of management experience combined with web development skills and eight years of teaching foundations, makes
					me uniquely qualified for positions that require both design and development skills..</p>

			</div>

			<!-- SKILLS -->
			<div id="race" class="col-sm-6">
				<!--<div class="race-box">-->


				<img id="horse-1" src="app/img/horse1.png" style="height:55px; left: num; position: absolute; top: 30px;" border="0">

				<div class="progress">
					<div id="horse-1-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
						style="width: numb; height: 20px; background: grey;" border="0">
						<span class="font-alt " style="opacity: 1; ">DEVELOPMENT</span>
					</div>
				</div>

				<h6 class="progress-title font-alt">DESIGN</h6>
				<img id="horse-2" src="app/img/horse2.png" style="left: num; height:55px; position: absolute; top: 124px;" border="0">

				<div class="progress">
					<div id="horse-2-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
						style="width: numb; height: 20px; background: grey;" border="0">
						<span class="font-alt " style="opacity: 1; ">100</span>
					</div>
				</div>

				<h6 class="progress-title font-alt">MANAGEMENT</h6>
				<img id="horse-3" src="app/img/horse3.png" style="height:55px; left: num; position: absolute; top: 218px;" border="0">

				<div class="progress">
					<div id="horse-3-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
						style="width: numb; height: 20px; background: grey;" border="0">
						<span class="font-alt " style="opacity: 1; ">100</span>
					</div>
				</div>

				<h6 class="progress-title font-alt">PHOTO EDITING</h6>
				<img id="horse-4" src="app/img/horse4.png" style="height:55px; left: num; position: absolute; top: 312px;" border="0">

				<div class="progress">
					<div id="horse-4-progress" class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100"
						style="width: numb; height: 20px; background: grey;" border="0">
						<span class="font-alt " style="opacity: 1;">100</span>
					</div>
				</div>

</section>