<div id="contact" class="container">

    <div class="my-contact">
        <section id="contact-me" >

            <div class="col-xs-4">
                <ul>
                    <li> <span><i class="glyphicon glyphicon-earphone ">&nbsp;</i><label for="Phone"> 509.301.7707</label></span>
                    </li>
                    <li><span><i class="glyphicon glyphicon-home ">&nbsp;</i><label for="website"> www.malyndapoulsen.com</label></span>
                    </li>
                    <li> <span><i class="glyphicon glyphicon-envelope ">&nbsp;</i><label for="email"> poulsenjones@yahoo.com</label></span>
                    </li>
                </ul>
            </div>
            <div class="col-xs-4">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/malynda.poulsenjones" class="btn btn-social-icon btn-facebook">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/malynda-poulsen-9608487?trk=nav_responsive_tab_profile" class="btn btn-social-icon btn-linkedin">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/MalyndaPoulsen" class="btn btn-social-icon btn-github">
                            <span class="fa fa-github"></span>
                        </a>
                    </li>
                </ul>
            </div>
   

<div class="col-xs-4">
    <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
</section>
</div>
</div>

<!-- /.container -->