<div id="contact" class="container">

    <div class="my-contact">
        <section id="contact-me">
            <div class="row">
                <div class="con col-xs-12" style="text-align: center;">
                  
                    <h2>Contact</h2>
                    <h1>MaLynda Poulsen</h1>
                    <h4>Web Designer & Developer</h4>

                    <div id="printVersion">

                        <!--<a><img src="app/img/printTarget2.png" class="printer-btn" type="button" data-toggle="modal" data-target="#myModal"></a>-->


                        <!-- Modal -->
                        <div id="myModal" tabindex="-1" class="modal fade" aria-labelledby="myModalLabel" aria-hidden="true" role="dialog">
                            <div class="modal-dialog modal-xl">

                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Resume</h4>
                                    </div>


                                    <div id="printThis" class="modal-body">
                                        <div id="resume" class="row">
                                            <div class="col-xs-10 col-xs-offset-1">
                                                <div class="row">
                                                    <h1>MALYNDA POULSEN</h1>
                                                    <div class="col-xs-12 col-md-12">
                                                        <h5>malyndapoulsen@gmail.com</h5>
                                                        <h5>509.301.7707</h5>
                                                    </div>
                                                </div>

                                                <div id="text" class="row">
                                                    <div class="col-xs-12 col-md-12">
                                                        <div class="row">
                                                            <h2>EDUCATION</h2>
                                                            <div class="col-xs-5">
                                                                <div h5>Web Development </h5> &nbsp; &nbsp;</div>
                                                                <div h5>Masters of Fine Arts </h5>&nbsp; &nbsp;</div>
                                                                <div h5>Bachelors of Fine Arts</h5>&nbsp; &nbsp;</div>
                                                            </div>
                                                            <div class="col-xs-5">
                                                                <div> Boise Code Works</div>
                                                                <div> Boise State University</div>
                                                                <div> Boise State University</div>
                                                            </div>
                                                            <div class="col-xs-2">
                                                                <div>2016</div>


                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <h2>LANGUAGES, FRAMEWORKS, and SOFTWARE</h2>
                                                            <div class="col-xs-12">
                                                                <p>HTML5,&nbsp; CSS,&nbsp; Bootstrap,&nbsp; jQuery,&nbsp; JavaScript,&nbsp;
                                                                    AngularJS,&nbsp; UI-Router,&nbsp; Photoshop.
                                                                </p>
                                                                <p><em>Familiar with:</em>&nbsp; &nbsp; NodeJS, &nbsp; Express,
                                                                    &nbsp;JSData, &nbsp;MYSQL, &nbsp;Firebase.
                                                                </p>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <h2>EXPERIENCE</h2>

                                                            <div class="col-xs-12">
                                                                <div h4><b>Adjunct Professor of Art </b></h4>&nbsp;<span><em> Boise State University </em>&nbsp; &nbsp; Boise, Idaho</span></div>

                                                                <div h4><b>Gallery Owner </b></h4>&nbsp;<span><em> The M Poulsen Gallery </em>&nbsp; &nbsp; Louisville, Kentucky</span></div>

                                                                <div h4><b>Assistant Professor of Art </b></h4>&nbsp;<span><em> Whitman College </em>&nbsp; &nbsp; Walla Walla, Washington</span></div>

                                                                <div h4><b>Shift Supervisor </b></h4>&nbsp;<span><em>Starbucks</em>&nbsp; &nbsp; Walla Walla, Washington</span></div>

                                                                <div h4><b>Adjunct Professor of Art </b></h4> &nbsp;<span><em> Boise State University </em>&nbsp; &nbsp; Boise, Idaho</span></div>

                                                                <div h4><b>Administrative Assistant/Program Asistant </b></h4>&nbsp;<span><em> Idaho Commission on the Arts </em>&nbsp; &nbsp; Boise, Idaho</span></div>


                                                            </div>
                                                        </div>


                                                        <div class="row">
                                                            <h2>SKILLS</h2>
                                                            <div class="col-xs-12">
                                                                <p>
                                                                    My extensive experience and diverse skill set in design, web development, education, and retail management make me unique
                                                                    and highly adaptable. My portfolio demonstrates visual
                                                                    design thinking and proficiency in a variety of formats.
                                                                    I am extremely adept at Photoshop and familiar with the
                                                                    Adobe Suite software, understand responsive design, and
                                                                    can design for both mobile and web applications, with
                                                                    or without Bootstrap.
                                                                </p>
                                                                <p>
                                                                    I am quick to learn new technologies and am continually adding new skills and languages to my repertoire.</p>
                                                                <p>The following are just a few of my strengths:</p>

                                                                <ul>
                                                                    <li>
                                                                        Proficient in HTML/ CSS/ jQuery/ Javascript/ Bootstrap/ AngularJS, and I am able to prototype in these mediums.
                                                                    </li>

                                                                    <li>
                                                                        Have experience using GitHub for version control.
                                                                    </li>
                                                                    <li>
                                                                        Possess a strong understanding of “Object-Oriented Programming.”
                                                                    </li>
                                                                    <li>
                                                                        Collaboratively minded and able to both embrace SCRUM methodology and work in an “agile” environment.
                                                                    </li>

                                                                    <li>
                                                                        A conceptual thinker, skilled in creative problem solving, particularly when geared towards “result oriented” outcomes.
                                                                    </li>

                                                                    <li>
                                                                        An excellent communicator (visually, verbally, and in writing).
                                                                    </li>
                                                                    <li>
                                                                        Both a great editor and technical writer.
                                                                    </li>
                                                                    <li>
                                                                        Detail-oriented, organized, and able to maintain a positive attitude in stressful situations.
                                                                    </li>
                                                                    <li>
                                                                        Possess exceptional drawing skills.
                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <h2>EXPERIENCE NARRATIVE</h2>
                                                            <div class="col-xs-12">
                                                                <p>Prior to my career as a Professor of Art, I was an Administrative
                                                                    Assistant, and later Program Assistant for The Idaho
                                                                    Commission on the Arts. I also worked as a bill collector
                                                                    for Sears Credit Center, and a retail supervisor for
                                                                    companies such as Starbucks and Van Heusen. Regardless
                                                                    of the organization I was employed by, each of these
                                                                    positions required superior administrative abilities,
                                                                    strong communication skills, excellent customer service,
                                                                    and the ability to manage time, multitask, and meet deadlines.
                                                                    They also required the ability to quickly assess complex
                                                                    situations, evaluate alternatives, and shift priorities
                                                                    within a dynamic and fast-paced environment.
                                                                </p>
                                                                <p> I gained valuable experience from each professional opportunity
                                                                    and have obtained a vast skill set, both technically
                                                                    and organizationally. Within both public and private
                                                                    organizations, I have become adept at navigating all
                                                                    sorts of individuals in varied settings.
                                                                </p>
                                                                <p>
                                                                    I strive for collaboration, collegiality, and respect diverse ideas and opinions in all I undertake. My decade of management
                                                                    experience combined with web development skills and eight
                                                                    years of teaching in visual art foundations, makes me
                                                                    uniquely qualified for positions that require both design
                                                                    and development skills.
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <h2>RELATED PROFESSIONAL EXPERIENCE</h2>
                                                            <div class="col-xs-2">
                                                                <p>2015 </p>
                                                                <p>2014 </p>
                                                                <p>2014 </p>
                                                                <p>2012</p>
                                                                <p>2012</p>
                                                                <p>2004-2008 </p>
                                                                <p>2004-2005 </p>
                                                                <p>2002-2004 </p>
                                                                <p>2001-2002 </p>

                                                            </div>

                                                            <div class="col-xs-10">
                                                                <p><b>Designer</b>&nbsp; Wine Label, &nbsp; <i>Something Big Cellars,&nbsp;</i>                                                                    Portland, Oregon
                                                                </p>
                                                                <p><b>Owner and Director</b>&nbsp; <i>The M Poulsen Gallery,&nbsp;</i>                                                                    Louisville, KY
                                                                </p>
                                                                <p><b>Designer </b>&nbsp; Wine Label, <i>B Leighton Wines,&nbsp;</i>                                                                    Walla Walla, Washington</p>
                                                                <p><b>Designer </b> &nbsp; Wine Label, <i>Something Big Cellars,&nbsp;</i>                                                                    Walla Walla, Washington</p>
                                                                <p><b>Designer</b> &nbsp; CD Cover, <i>The B Side,&nbsp;</i>                                                                    Walla Walla, Washington
                                                                </p>

                                                                <p><b>Board of Directors</b>&nbsp; <i>Carnegie Art Center,&nbsp;</i>                                                                    Walla Walla, Washington</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" id="Print" class="btn btn-primary">Print</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!--<h5>malyndapoulsen@gmail.com</h5>-->
            <hr>


            <div id="social" class="row">


                <div class="col-xs-10 col-xs-offset-1">
                    <div class="row">
              
                        <div class="phone col-xs-12 col-md-6">
                            <i class="glyphicon glyphicon-earphone "></i>&nbsp; &nbsp;<label for="Phone"> 509.301.7707</label>
                        </div>
                        <div class="email col-xs-12 col-md-6">
                            <i class="glyphicon glyphicon-envelope"></i>&nbsp; &nbsp;<label for="email"> malyndapoulsen@gmail.com</label>
                        </div>

                    </div>
                </div>
                </div>

                <hr>



                <div class="experience row">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="head">
                            <h3>Adjunct Professor of Art</h3>
                            <h4>Boise State University</h4>
                        </div>
                        <div>

                            <p>Introduction to Painting</p>
                            <p> Oil Painting</p>
                            <p>Design</p>
                            <p>Color</p>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="head">
                            <h3>Visiting Assistant Professor</h3>
                            <h4>Whitman College</h4>
                        </div>
                        <div>
                            <p>
                                Introduction to Visual Art Practices
                            </p>
                            <p>
                                All Levels of Drawing
                            </p>
                            <p>
                                Digital Art- Photoshop
                            </p>
                            <p>
                                Printmaking
                            </p>
                            <p>
                                Painting
                            </p>
                            <p>Animation</p>
                            <p>Social Art</p><br>
                            <a href="http://www.malyndapoulsen.com/#/student-foundations/">Foundations</a><br>
                            <a href="http://www.malyndapoulsen.com/#/student-drawings/">Beginning Drawing</a><br>
                            <a href="http://www.malyndapoulsen.com/#/student-intermediate-drawing/">Intermediate Drawing</a><br>
                            <a href="http://www.malyndapoulsen.com/#/student-advanced-drawing/">Advanced Drawing</a><br>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="head">
                            <h3>Front-End Web Developer</h3>
                            <h4>Boise Code Works</h4>
                        </div>
                        <div>
                            <p>HTML5</p>
                            <p>CSS</p>
                            <p>Bootstrap</p>
                            <p>jQuery</p>
                            <p>AngularJS</p>
                            <p>VS Code</p>
                            <p>GitHub</p><br>
                            <a href="#portfolio">Portfolio</a>
                        </div>
                    </div>

                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="head">
                            <h3>Professional Artist</h3>
                            <h4>MFA Boise State University</h4>
                        </div>
                        <div>
                            <p>Digtal Art</p>
                            <p>Drawing</p>
                            <p>Painting</p>
                            <p>Printmaking</p>
                            <p>Design</p>
                            <p>Color Theory</p>
                            <p>Assemblage</p>
                            <p>Sculpture</p>
                            <p>Encaustic Painting</p>
                            <p>Traditional Czech Marionettes</p><br>
                            <a href="http://www.malyndapoulsen.com/">www.malyndapoulsen.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer>

    <div id="social">


    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-4">
                    <div class="col-xs-4">
                        <a href="https://www.facebook.com/malynda.poulsenjones" class="btn btn-social-icon btn-facebook">
                            <span class="fa fa-facebook"></span>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://www.linkedin.com/in/malynda-poulsen-9608487?trk=nav_responsive_tab_profile" class="btn btn-social-icon btn-linkedin">
                            <span class="fa fa-linkedin"></span>
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://github.com/MalyndaPoulsen" class="btn btn-social-icon btn-github">
                            <span class="fa fa-github"></span>
                        </a>
                    </div>
                </div>

                <div class="col-xs-4 emails">
                    <i class="glyphicon glyphicon-envelope"></i>&nbsp; &nbsp;<label for="email"> malyndapoulsen@gmail.com</label>

                </div>
                <div class="col-xs-4 num">


                    <i class="glyphicon glyphicon-earphone "></i>&nbsp; &nbsp;<label for="Phone"> 509.301.7707</label>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

    </footer>



    <!-- /.container -->