<div id="night" class="education container-fluid">
    <div id="education-experience" class="row bg-full">
        <div id="title-education" style="text-align: center; color: darkgoldenrod;" class='col-xs-12'>
            <h2>Education & Experience</h2>
        </div>
        <div class="Education">
            <div id="education-text" class="row" style="width: 700px;  margin: 0 auto 0 auto;">

                <!--<div id="title-education" class='col-xs-6 col-offset-3'>-->

                <section  class="module-education" class="module-subtitle" class="module-parallax module-full-height-bg-60">
                    <div id="text" class="col-xs-6">
                        <h2>Education</h2>

                        <div h5>Web Developer </h5> <span>  Boise Code Works- 2016</span></div>
                        <div h5>Masters of Fine Arts </h5> <span>  Boise State University- 2004</span></div>
                        <div h5>Bachelors of Fine Arts</h5><span>  Boise State University- 2000</span></div>
                    </div>
                </section>
                <section id="Experience" ng-show="show">
                    <h2>Experience</h2>
                    	<p> While working toward my career in academia, I was an Administrative Assistant, and later Program Assistant, for The Idaho
					Commission on the Arts, a bill collector for Sears Credit Center, and a supervisor for companies such as Starbucks and
					Van Heusen. Each of these positions required superior administrative abilities, strong communication skills, excellent
					customer service, and the ability to manage time, multitask, and meet deadlines. They also required the ability to quickly
					assess complex situations and to evaluate alternatives and shift priorities within a dynamic and fast-paced environment.
					</p>

                    <div h5>Adjunct Professor of Art </h5><span><em> Boise State University </em> Boise, Idaho</span></div>
                    <div h5>Gallery Owner </h5><span><em> The M Poulsen Gallery </em> Louisville, Kentucky</span></div>
                    <div h5>Assistant Professor of Art </h5><span><em> Whitman College </em> Walla Walla, Washington</span></div>
                    <div h5>Shift Supervisor </h5><span><em>Starbucks</em> Walla Walla, Washington</span></div>
                    <div h5>Adjunct Professor of Art </h5> <span><em> Boise State University </em> Boise, Idaho</span></div>
                    <div <h5>Administrative Assistant/Program Asistant </h5><span><em> Idaho Commission on the Arts </em> Boise, Idaho</span></div>
                </section>
            </div>
        </div>


    </div>

</div>