
<div class="education container-fluid">
		<a><img src="app/img/EducationBottles.png"   ng-click="show = !show"  style="width: 25%; z-index: 10; position: fixed;"><p>click</p></a>
	<div id="school" class="row bg-full">
		<div id="title-education" class='col-xs-12'>
			<h2 class="module-title font-alt">Education</h2>
			
		<!--<a><img src="app/img/target.png" ng-click="show = !show"  style="height: 25%"><p>click target</p></a>-->
		</div>
	</div>
	<div id="education-text" class="row bg-full">
		<div class="col-sm-8 col-sm-offset-2">
			<section id="education"  ng-show="show" class="module-education" class="module-subtitle font-serif" module-parallax module-full-height bg-dark-60">
	
		<div class="col-xs-4">
            <h3>BFA Bachelors of Fine Arts</h3>
            <h4>Boise State University</h4>
            <h5>2000</h5>
            
			
		</div>
		<div class="col-xs-4">
		  <h3>MFA Masters of Fine Arts</h3>
            <h4>Boise State University</h4>
            <h5>2004</h5>
		</div>
		<div class="col-xs-4">
		  <h3>Full-Stack Web Developer Certificate</h3>
            <h4>Boise Code Works</h4>
            <h5>2016</h5>
		</div>
	</section>
	</div>
	</div>
    </div>
    

	
	
		<!--<div class="col-xs-4">
			<ul>
				<li>Photoshop</li>
				<li>HTML5</li>
				<li>CSS</li>
				<li>JavaScript</li>

			</ul>
		</div>
		<div class="col-xs-4">
			<ul>
				<li>AngularJS</li>
				<li>UI-Router</li>
				<li>UI-Router</li>
				<li>Bootstrap</li>
			</ul>
		</div>
		<div class="col-xs-4">
			<ul>
				<li>NodeJS</li>
				<li>Firebase</li>
				<li>SQL</li>
				<li>JS Data</li>
			</ul>
		</div>-->
	