<div class="education container-fluid">
    <div id="school" class="row bg-full">

        <div id="title-education" class='col-xs-12'>
            <h2 class="module-title font-alt">Education & Experience</h2>

            <!--<a><img src="app/img/target.png" ng-click="show = !show"  style="height: 25%"><p>click target</p></a>-->
        </div>
        <div id="education-text" class="row bg-full">
            <div class="col-sm-8 col-sm-offset-2">
                <section id="Education & Experience" class="module-education" class="module-subtitle font-serif" class="module-parallax module-full-height
                    bg-60">
	
    <div class="row"><h2>Education</h2></div>
    <div class="row-education row ">
	
            <div h5>BFA Bachelors of Fine Arts</h5><span>  Boise State University- 2000</span></div>
	
	
		  <div h5>MFA Masters of Fine Arts  </h5> <span>  Boise State University- 2004</span></div>
       
	
	
		  <div h5>Full-Stack Web Developer Certificate  </h5> <span>  Boise Code Works- 2016</span></div>
           
	
       
        
         <div class="row "><h2>Experience</h2></div>
    <div class="row-experience row ">
        <div h5>Adjunct Professor of Art </h5><span><em> Boise State University </em> Boise, Idaho</span></div>
		<div h5>Gallery Owner </h5><span><em> The M Poulsen Gallery </em> Louisville, Kentucky</span></div>
			<div h5>Assistant Professor of Art </h5><span><em> Whitman College </em> Walla Walla, Washington</span></div>
            <div h5>Shift Supervisor </h5><span><em>Starbucks</em> Walla Walla, Washington</span></div>
            <div h5>Adjunct Professor of Art </h5> <span><em> Boise State University </em> Boise, Idaho</span></div>
            <div <h5></h5>></div>
        </div>
        
        
        
        
        
        
	</div>
        
        
	</section>
	</div>
	</div>
    </div>
    </div>
    

	
	
		<!--<div class="col-xs-4 ">
			<ul>
				<li>Photoshop</li>
				<li>HTML5</li>
				<li>CSS</li>
				<li>JavaScript</li>

			</ul>
		</div>
		<div class="col-xs-4 ">
			<ul>
				<li>AngularJS</li>
				<li>UI-Router</li>
				<li>UI-Router</li>
				<li>Bootstrap</li>
			</ul>
		</div>
		<div class="col-xs-4 ">
			<ul>
				<li>NodeJS</li>
				<li>Firebase</li>
				<li>SQL</li>
				<li>JS Data</li>
			</ul>
		</div>-->