<section class="module module-parallax bg-dark-60">

	<div class="container interests-container">

		<div class="interests-row row">

			<!-- Owl-carousel start -->
			<div id="ScrollStyle" class="slider-clients owl-carousel text-center owl-theme" style="opacity: 1; display:inline; margin-top:100px; margin-bottom:100px;">

				<!-- Client logo start -->
				<div class="owl-wrapper-outer autoHeight" style="height: 500px;">
					<div class="owl-wrapper" style="width: 650px; left: 0px; display:inline; transition: all 1000ms ease; transform: translate3d(-25px, 0px, 0px);">

								<div class="owl-item col-xs-3" style="width: 250px;">
									<img src="app/img/sage1.jpg" style="width: 225px; border-radius:100px;">
								<div class="portfolio-caption font-alt">
									<h5 class="portfolio-title">Animal Rescue</h5>
								
								</div>
							</div>
							
								
								<div class="owl-item col-xs-3" style="width: 250px;">
									<img src="app/img/picofmewithmonkey2.jpg" style="width: 225px; border-radius:100px;">
								<div class="portfolio-caption font-alt">
									<h5 class="portfolio-title">Travel & Adventure</h5>
								
								</div>
							</div>
							
									
								<div class="owl-item col-xs-3" style="width: 250px;">
									<img src="app/img/wine.jpg" style="width: 225px; border-radius:100px;">
								<div class="portfolio-caption font-alt">
									<h5 class="portfolio-title">Food & Wine</h5>
								</div>
								</div>
								
								<div class="owl-item col-xs-3" style="width: 250px;">
									<img src="app/img/me1.jpg" style="width: 225px; border-radius:100px;">
								<div class="portfolio-caption font-alt">
									<h5 class="portfolio-title">Art & Theater</h5>
								</div>
								</div>
						
									
								<div class="owl-item col-xs-3" style="width: 250px;">
									<img src="app/img/marionette1.png" style="width: 225px; border-radius:100px;">
								<div class="portfolio-caption font-alt">
									<h5 class="portfolio-title">Folk Art</h5>
								</div>
							
							</div>
							
						</div>
			
		</div>
	</div>

	<div class="owl-controls clickable">
		<div class="owl-buttons">
			<div class="owl-prev"><i class="fa fa-angle-left"></i></div>
			<div class="owl-next"><i class="fa fa-angle-right"></i></div>
		</div>
	</div>
	</div>
	<!-- Owl-carousel end -->

	</div>

	

</section>