<section class="module module-parallax bg-light-60" data-background="app/img/picofme.jpg" style="background-image: url();">

			<div class="container">

				<div class="row">

					<!-- Owl-carousel start -->
					<div class="slider-clients owl-carousel text-center owl-theme" style="opacity: 1; display: block;">

						<!-- Client logo start -->
						<div class="owl-wrapper-outer autoHeight" style="height: 75px;"><div class="owl-wrapper" style="width: 9000px; left: 0px; display: block; transition: all 1000ms ease; transform: translate3d(-25px, 0px, 0px);"><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 25px;">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="app/img/logo.png" style="width: 25px;">
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 25px;">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="app/img/logo.png" style="width: 25px;">
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 25px;">
							<div class="col-sm-12">
								<div class="client-item">
							<img src="app/img/logo.png" style="width: 25px;">
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 250px;">
							<div class="col-sm-12">
								<div class="client-item">
							<img src="app/img/logo.png" style="width: 25px">
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 25px;">
							<div class="col-sm-12">
								<div class="client-item">
								<img src="app/img/logo.png" style="width: 25px;">
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 25px;">
							<div class="col-sm-12">
								<div class="client-item">
									<img src="app/img/logo.png" style="width: 25px;">
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 25px;">
							<div class="col-sm-12">
								<div class="client-item">
								<img src="app/img/logo.png"  style="width: 25px;">
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 25px;">
							<div class="col-sm-12">
								<div class="client-item">
								<img src="app/img/logo.png" style="width: 25px;">
								</div>
							</div>
						</div></div><div class="owl-item" style="width: 25px;"><div class="owl-item" style="width: 25px;">
							<div class="col-sm-12">
								<div class="client-item">
								<img src="app/img/logo.png" style="width: 25px;" alt="">
								</div>
							</div>
						</div></div></div></div>
						<!--  Client logo end -->

						<!-- Client logo start -->
						
						<!--  Client logo end -->

						<!-- Client logo start -->
						
						<!--  Client logo end -->

						<!-- Client logo start -->
						
						<!--  Client logo end -->

						<!-- Client logo start -->
						
						<!--  Client logo end -->

						<!-- Client logo start -->
						
						<!--  Client logo end -->

						<!-- Client logo start -->
						
						<!--  Client logo end -->

						<!-- Client logo start -->
						
						<!--  Client logo end -->

						<!-- Client logo start -->
						
						<!--  Client logo end -->

					<div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><i class="fa fa-angle-left"></i></div><div class="owl-next"><i class="fa fa-angle-right"></i></div></div></div></div>
					<!-- Owl-carousel end -->

				</div>

			</div>

		</section>