<div class="container-fluid">
    <div id="heading" class="row bg-full">
        <!-- first page main picture-->
        <div id="title" class='col-xs-12'>
            <h1>MaLynda Poulsen</h1>
            <p>Web Designer & Web Developer</p>
        </div>
    </div>
    <section id="hero" class="module-hero module-parallax module-full-height bg-light-60">

			<!-- HERO TEXT -->
			<div class="hero-caption">
				<div class="hero-text">
                    <img src="app/img/Bigdeal.png" alt="Big Deal">
					<!--<h5 class="mh-line-size-4 font-alt m-b-50">Web Developer & Designer</h5>
					<h1 class="mh-line-size-1 font-alt m-b-60">MaLynda Poulsen</h1>-->
					<h5 class="mh-line-size-5 font-alt m-b-50">"The way to get good ideas is to get lots of ideas and throw the bad ones away."<br>
                    <em><span>— Linus Pauling</span><em></h5>
				</div>
			</div>
			<!-- /HERO TEXT -->

		</section>
   
        
        
        
        
        
        
        
        
    
                
                
                <!--<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">About Studio</h2>
						<div class="module-subtitle font-serif">
							I always begin with the premise, anything is possible. 
						</div>
					</div>
				</div>-->
