<div id="home" class="container-fluid">
	<div id="heading" class="row bg-full">
		<!-- first page main picture-->
		<div id="title" class='col-xs-12'>
			<h1>MaLynda Poulsen</h1>
			<h2>MaLynda Poulsen</h2>
			<p>Web Designer & Web Developer</p>
		</div>

	</div>
	<section id="hero" class="image-responsive module-hero module-parallax module-full-height bg-light-60">

		<div class="hero row">
			<p class="displayed" id="big-deal"></p>
			<div class="hero-caption">
				<div class="row hero-text">
					<div class="col-sm-10 col-sm-offset-2"></div>

				</div>
			</div>
		</div>

	</section>
</div>