<div class="container-fluid">
	<div id="heading" class="row bg-full">
		<!-- first page main picture-->
		<div id="title" class='col-xs-12'>
			<h1>MaLynda Poulsen</h1>
			<p>Web Designer & Web Developer</p>
		</div>

	</div>
	<section id="hero" class="module-hero module-parallax module-full-height bg-light-60">

		<!-- HERO TEXT -->


		<section class="module">

			<div class="duck container">
				<div class="duck1 row">
					<p class="bg"></p>
				</div>
				<div class="row wave1">
					<p class="wave"></p>
				</div>
				<div class="duck2 row">
					<p class="bg"></p>
				</div>
				<div class="duck3 row">
					<p class="bg"></p>
				</div>
			</div>
		</section>
		<!-- MODULE TITLE -->
		<!--<div class="row">-->

		<!--<div id="quote" class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">About</h2>

					</div>-->
		<!--</div>-->
		<!-- /MODULE TITLE -->

		<!--<div class="row">-->
		<!--<div class="col-sm-6">
						<div id="me" class="module-subtitle font-serif">
							“Opportunity is missed by most people because it is dressed in overalls and looks like work.”<em><span><br>
- Thomas A Edison</span><em></div>-->
		<!--</div>-->
		<!-- ABOUT STUDIO  -->
		<!--<div class="col-sm-6">

						<h5 class="font-alt m-t-0 m-b-20">After seven years in academia, I decided I needed a change.</h5>
						<p>Most people simply buy a sports car, I decided to learn to code.</p>
						<p>Ignoring the baffeled and worried looks from my friends and family, I bravely signed up for a bootcamp. Two weeks later I seriously questioned my own sanity.</p>
						<p>Although, after 5 months of intensive training I have learned several new languages, frameworks, and I speak nerd! I even understand coding humor!</p>
						<p>Humor aside, you nare never too old tolearn something new!</p>
						

					</div>-->
		<!-- /ABOUT STUDIO  -->

		<!-- SKILLS -->
		<!--<div class="col-sm-12 col-sm-6">

				<h6 class="progress-title font-alt">Web Developer</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="font-alt" style="opacity: 1;">80</span>
					</div>
				</div>

				<h6 class="progress-title font-alt">Web Designer</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="80" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
						<span class="font-alt" style="opacity: 1;">80</span>
					</div>
				</div>

				<h6 class="progress-title font-alt">Technical Writer/ Editor</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="30" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 30%;">
						<span class="font-alt" style="opacity: 1;">30</span>
					</div>
				</div>

				<h6 class="progress-title font-alt">Artist</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="100" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
						<span class="font-alt" style="opacity: 1;">100</span>
					</div>
				</div>

				<h6 class="progress-title font-alt">Educator</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="60" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
						<span class="font-alt" style="opacity: 1;">60</span>
					</div>
				</div>
				<h6 class="progress-title font-alt">Manager</h6>
				<div class="progress">
					<div class="progress-bar pb-dark" aria-valuenow="90" role="progressbar" aria-valuemin="0" aria-valuemax="90" style="width: 90%;">
						<span class="font-alt" style="opacity: 1;">90</span>
					</div>
				</div>

			</div>-->
		<!-- /SKILLS -->



		<!--<div class="hero-caption">
				<div class="hero-text">
                    <!--<img src="app/img/Bigdeal.png" alt="Big Deal">-->
		<!--<h5 class="mh-line-size-4 font-alt m-b-50">Web Developer & Designer</h5>
					<h1 class="mh-line-size-1 font-alt m-b-60">MaLynda Poulsen</h1>-->
		<!--<h5 class="mh-line-size-5 font-alt m-b-50">"The way to get good ideas is to get lots of ideas and throw the bad ones away."<br>
                    <em><span>— Linus Pauling</span><em></h5>
				</div>
			</div>
			<!-- /HERO TEXT -->

		<!--</section>
   -->











		<!--<div class="row">
					<div class="col-sm-6 col-sm-offset-3">
						<h2 class="module-title font-alt">About Studio</h2>
						<div class="module-subtitle font-serif">
							I always begin with the premise, anything is possible. 
						</div>
					</div>
				</div>-->