<div class="container">
    <div id="resume" class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="row">
                <div class="col-xs-7">
                    <h1>MALYNDA POULSEN</h1>
                    <h5>poulsenjones@yahoo.com</h5>
                    <h5>509.301.7707</h5>
                </div>
            </div>

            <div id="text" class="row">
                <div class="col-xs-7">
                    <div class="row">
                        <h2>EDUCATION</h2>
                        <div class="col-xs-6">
                            <div h5>Web Development </h5> &nbsp; &nbsp;</div>
                            <div h5>Masters of Fine Arts </h5>&nbsp; &nbsp;</div>
                            <div h5>Bachelors of Fine Arts</h5>&nbsp; &nbsp;</div>
                        </div>
                        <div class="col-xs-6">
                            <div> Boise Code Works- &nbsp;2016</div>
                            <div> Boise State University- &nbsp;2004</div>
                            <div> Boise State University- &nbsp;2000</div>
                        </div>
                    </div>

                    <div class="row">
                        <h2>LANGUAGES/ FRAMEWORKS/ SOFTWARE</h2>
                        <div class="col-xs-12">
                            <p>HTML5,&nbsp; CSS,&nbsp; Bootstrap,&nbsp; jQuery,&nbsp; JavaScript,&nbsp; AngularJS,&nbsp; UI-Router&nbsp;
                            </p>
                            <p>Familiar with: NodeJS, Express, JSData, MYSQL, Firebase. </p>
                        </div>
                    </div>

                    <div class="row">
                        <h2>EXPERIENCE</h2>

                        <div class="col-xs-12">
                            <div h4>Adjunct Professor of Art </h4>&nbsp;<span><em> Boise State University </em>&nbsp; &nbsp; Boise, Idaho</span></div>

                            <div h4>Gallery Owner </h4>&nbsp;<span><em> The M Poulsen Gallery </em>&nbsp; &nbsp; Louisville, Kentucky</span></div>

                            <div h4>Assistant Professor of Art </h4>&nbsp;<span><em> Whitman College </em>&nbsp; &nbsp; Walla Walla, Washington</span></div>

                            <div h4>Shift Supervisor </h4>&nbsp;<span><em>Starbucks</em>&nbsp; &nbsp; Walla Walla, Washington</span></div>

                            <div h4>Adjunct Professor of Art </h4> &nbsp;<span><em> Boise State University </em>&nbsp; &nbsp; Boise, Idaho</span></div>

                            <div h4>Administrative Assistant/Program Asistant </h4>&nbsp;<span><em> Idaho Commission on the Arts </em>&nbsp; &nbsp; Boise, Idaho</span></div>


                        </div>
                    </div>


                    <div class="row">
                        <h2>SKILLS NARRATIVE</h2>
                        <div class="col-xs-12">
                            <p>
                                With over 20 years of experience in design, web development, education, and retail management, my diverse skill set make
                                me unique and highly adaptable. My portfolio demonstrates visual design thinking and proficiency
                                in a variety of formats. I am extremely adept at Photoshop and familiar with the Adobe Suite
                                software, understand responsive design, and can design for both mobile and web applications,
                                with or without bootstrap.
                            </p>
                            <p>
                                I am quick to learn new technologies and am continually adding new skills and languages to my repertoire.</p>
                            <p>The following are just a few of my strengths:</p>

                            <ul>
                                <li>
                                    I am proficient in HTML/ CSS/ jQuery/ Javascript/ Bootstrap/ AngularJS, and I am able to prototype in these mediums.
                                </li>

                                <li>
                                    I have experience using GitHub for version control.
                                </li>
                                <li>
                                    I have a strong understanding of “Object-Oriented Programming.”
                                </li>
                                <li>
                                    I am collaboratively minded and able to both embrace SCRUM methodology and work in an “agile” environment.
                                </li>

                                <li>
                                    I am a conceptual thinker, skilled in creative problem solving, particularly when geared towards “result oriented” outcomes.
                                </li>

                                <li>
                                    I am an excellent communicator (visually, verbally, and in writing).
                                </li>
                                <li>
                                    I am both a great editor and technical writer.
                                </li>
                                <li>
                                    I am detail-oriented, organized, and able to maintain a positive attitude in stressful situations.
                                </li>
                                <li>
                                    I possess exceptional drawing skills.
                                </li>
                                <li>I demonstrate integrity and accountability in all that I do.</li>
                            </ul>
                        </div>

                    </div>
                    <h2>EXPERIENCE NARRATIVE</h2>
                    <div class="col-xs-12">
                        <p>Prior to my career as a professor of art, I was an Administrative Assistant, and later Program Assistant
                            for The Idaho Commission on the Arts. I also worked as a bill collector for Sears Credit Center,
                            and a retail supervisor for companies such as Starbucks and Van Heusen. Regardless of the organization
                            I was employed by, each of these positions required superior administrative abilities, strong
                            communication skills, excellent customer service, and the ability to manage time, multitask,
                            and meet deadlines. They also required the ability to quickly assess complex situations, evaluate
                            alternatives, and shift priorities within a dynamic and fast-paced environment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>