<div id="skill" class="skills container-fluid">
	<!--<div id="night" class="row bg-full">
		<div id="title-education" class='col-xs-12'>
			<h2>Education & Experience</h2>
		</div>
		<div class="Education">

		</div>
		
	</div>-->
	<div id="skills-text" class="row bg-full">
		<div id="title-skills" class='col-xs-12'>
			<h2>Skills</h2>
			<p>Software, Languages, and Frameworks</p>
		</div>
		<!-- first page main picture-->


		<div id="duck-shoot"  class="row">

			<div class="ducks col-sm-12">
				<section id="skills" class="module-skills  module-full-height bg-dark-60 center-block">

					<div class="row wave">
						<p class="wv"></p>
					</div>
					<div class="duck row">
						<p class="duck3"></p>
					</div>

					<div class="row wave">
						<p class="wv"></p>
					</div>
					<div class="duck row">
						<p class="duck2"></p>
					</div>
					<div id="boxes" class="row wave">
						<p class="wv"></p>
					</div>
					<div class="duck row">
						<p class="duck1"></p>
					</div>
				</section>
			</div>
		</div>
					
	

	</div>
</div>