<div class="skills container-fluid">
	<div id="night" class="row bg-full">
		<div id="title-skills" class='col-xs-12'>
			<h1>Skills</h1>
			<p>Software, Languages, and Frameworks</p>
			
		
		<a><img src="app/img/target.png" ng-click="show = !show"  style="height: 25%"><p>click</p></a>
		</div>
	</div>
	<div id="skills-text" class="row bg-full">
		<div class="col-sm-8 col-sm-offset-2">
			<section id="skills" ng-show="show" class="module-skill module-parallax module-full-height bg-dark-60">
	
		<div class="col-xs-4">
			<ul>
				<li>Photoshop</li>
				<li>HTML5</li>
				<li>CSS</li>
				<li>JavaScript</li>

			</ul>
		</div>
		<div class="col-xs-4">
			<ul>
				<li>AngularJS</li>
				<li>UI-Router</li>
				<li>UI-Router</li>
				<li>Bootstrap</li>
			</ul>
		</div>
		<div class="col-xs-4">
			<ul>
				<li>NodeJS</li>
				<li>Firebase</li>
				<li>SQL</li>
				<li>JS Data</li>
			</ul>
		</div>
	</section>
	</div>
	</div>
		<!-- first page main picture-->


	<div id="duck-shoot" class="row">
		<div class="ducks col-sm-8 col-sm-offset-2">
			<section id="skills" ng-show="!show" class="module-skills module-parallax module-full-height bg-dark-60">

				<div class="row wave">
					<p class="wv"></p>
				</div>
				<div class="duck row">
					<p class="duck1"></p>
				</div>
				<div class="row wave">
					<p class="wv"></p>
				</div>
				<div class="duck row">
					<p class="duck2"></p>
				</div>
				<div class="row wave">
					<p class="wv"></p>
				</div>
				<div class="duck row">
					<p class="duck3"></p>
				</div>
				</section>
		</div>
	</div>

</div>
</div>
</div>