
<div class="container-fluid">
    <div id="night" class="row bg-full">
        <!-- first page main picture-->
        <div id="title-skills" class='col-xs-12'>
            <h1>Skills</h1>
            <p>Software, Languages, and Frameworks</p>
           
        </div>
        <div class="ducks">
        </div>
    </div>


   <section id="skills" class="module-skills module-parallax module-full-height bg-light-60">



			<!-- HERO TEXT -->
			<!--<div class="skills-caption">
				<div class="skills-text">
					<h5 class="mh-line-size-4 font-alt m-b-50">Web Developer & Designer</h5>
					<h1 class="mh-line-size-1 font-alt m-b-60">MaLynda Poulsen</h1>
					<h5 class="mh-line-size-5 font-alt m-b-50">"The way to get good ideas is to get lots of ideas and throw the bad ones away."<br>
                    <em><span>— Linus Pauling</span><em></h5>
				</div>
			</div>-->
			<!-- /HERO TEXT -->

		</section>