body, html{
overflow-x: hidden;
}
h1, h2, h3, h4, h5, body{
  font-family: 'Source Sans Pro', sans-serif;
}

#heading{
   background:grey url('/app/img/Back1.jpg') center center no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height: 100%;
}
#night{
  background:grey url('/app/img/Back3.jpg') center center no-repeat fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
 height: 100%;
}

#hero{
     color:grey;
 text-align:center;
    height: 110%;
    padding-top:5px;
  
}


#big-deal{
    height: 100%;
    background-size: 100%;
    position: relative;
    left: 20%;
     background: url('/app/img/Bigdeal.png') no-repeat;
    -webkit-animation-name: blink;
    -webkit-animation-duration: 4s; 
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes blink{
    0%   {  background: url('/app/img/Bigdeal.png')no-repeat;}
    25%  {  background: url('/app/img/Bigdeal2.png')no-repeat;}
    50%  {  background: url('/app/img/Bigdeal.png')no-repeat;}
    100% {  background: url('/app/img/Bigdeal2.png')no-repeat;}
}
@keyframes blink{
    0%   {  background: url('/app/img/Bigdeal.png')no-repeat;}
    25%  {  background: url('/app/img/Bigdeal2.png')no-repeat;}
    50%  {  background: url('/app/img/Bigdeal.png')no-repeat;}
    100% {  background: url('/app/img/Bigdeal2.png')no-repeat;}
}
.module-hero {
    position: relative;
    background: black;
    margin-left:-15px;
    margin-right:-15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
 
}
#heading h1{
   color: e7ae22;
   padding-top:120px;
   font-size: 80px;

   }
   #heading p{
   color: grey;
   margin-top:0;
   font-size: 20px;
   }
   .nav a{
       color: grey;
        background-color:transparent !important;
   }
   .nav a:hover{
       background-color:transparent !important;
      color:goldenrod;
   }

   #heading{
       text-align:center;
       padding-top:150px;
   }


#title h1{
   color: e7ae22;
    font-family: 'Mrs Saint Delafield', cursive;
   padding-top:0px;
   font-size: 120px;
   }
   #title h2{
   color: White;
    font-family: 'Helvetica', Neue;
   padding-top:0px;
   font-size: 30px;
   }
   #title p{
   margin-top:0;
   font-size: 20px;
   color: white;
   }

   #title{
       text-align:center;
   }
   #title-skills{
       text-align:center;
        background-color: transparent;
   }
   #title-skills h2{
   font-family: 'Helvetica', Neue;
   color: e7ae22;
   margin-top:10px;
   margin-bottom: 0px;
   padding-top:80px;
   /*font-size: 80px;*/
   }
     #title-skills p{
  text-decoration-line: narrow;
   color: grey;
   margin-top:0;
   font-size: 20px;
   }
 
   .skills-text {
    color:grey;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-top:15px;
}
.skills-caption {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.skills-text h1{
    color: white;
}

.ducks{
      background-color: black; 
}
.ducks .duck{
    width: 100%;
    height: 25%;
}

#skills p{
    margin: 0 0 0 0;
}
/*image*/
.duck3{
    width: 110%;
    height: 100%;
    background: url('/app/img/ducks3.png')repeat-x left center;
    background-size: auto;
    padding: 0px;
    -webkit-animation: displace 7s linear infinite;
    animation: displace 7s linear infinite;
}
.duck2{
    width: 110%;
    height: 100%;
    background: url('/app/img/ducks2.png')repeat-x left center;
    background-size: auto;
    padding: 0px;
    -webkit-animation: displace 7s linear infinite;
    animation: displace 7s linear infinite;
}
.duck1{
    width: 110%;
    height: 100%;
      background: url('/app/img/ducks1.png')repeat-x left center;
    background-image: repeat-x left center;
    background-size: auto;
    padding: 0px;
    -webkit-animation: displace 7s linear infinite;
    animation: displace 7s linear infinite;
}
@-webkit-keyframes displace {
    from{
        background-position: 0 center;
    }
to 
{
    background-position: 1000px center;
}
}
@keyframes displace {
    from{
        background-position: 0 center;
    }
to 
{
    background-position: 1000px center;
}
}
#duck-shoot{
    margin-top:-1px !important;
    padding-top:25px;
    padding-bottom:55px;
    background:black;
}
.ducks .wave{
    width: 110%;
}


.wv{
 background: url('/app/img/wave1a.png')repeat-x top left;
 background-size: 100%;
width:100%;
height:20%;
margin: 0 0 0 0;
}


.progress-bar{
    background-color: darkgrey;
}
#about{
    padding-top: 110px;
    padding-bottom: 110px;
   
}
.about p, li{
font-size: 20px;
}
#about-me {
    text-align: center;
     padding-bottom:20px;
     margin-bottom: 20px;
}


#race h6{
    margin-bottom: 41px;
}
#portfolio-grid{
        position: relative;
    height: 600px;
}
.text{
    color: red;
    text-align: center;
}
.text ul{
    list-style-type: none;  
}

#skills{
    margin-top: 50px;
     text-align:center;
}
#duck-shoot .ducks{
    text-align:center;
}

#skills ul{
    list-style-type: none;
}

#skills-text{
     text-align:center;
     padding: 0 0 0 0;
    margin: 0 -15 0 -15;
  background: black;
  color:grey;
}

.module-skill {
    position: relative;
    background-color: transparent;
    margin-left:-15px;
    margin-right:-15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#work{
    padding-top:100px;
}
#work .row{
    margin-top: 35px;
    text-align: center;
}
#port-filters{
    /*display: table;*/
    margin-top:0;
        margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 45px;
}
#port-filters .filt{
    margin-top: 5px;
}
.filt ul{
    margin-top: 0px;
    margin:0;
    padding:0;
    list-style-type: none;
    text-align: center;
  
}
.filt a{
       color: black;
}
.filt a:hover{
       color: grey;
}
.filt ul li{
    display: inline;
        position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
}
.portfolio-grid-wrapper{
        margin: 0 -5px;
}
.portfolio-grid{
    margin-top: 25px;
    position: relative;
    height: 500px;
    width:100%;
    display: block;
}


#skills ul{
    margin-left:-15;
    margin-right: -15;
    margin-bottom: 54px;
    color: lightgrey;
  border-top: 0;
  border-bottom:0;
    border-left: 1px solid darkred;
      border-right: 1px solid darkred;
}

.portfolio-caption {
  color: black;
}


#text{
    margin-top: 80px;
}

#education-text{
       text-align: right;
    margin-top: 26px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
     padding: 0 0 0 0;
    margin: 0 -15 0 -15;
  background: white opacity .5;
  color: lightgrey;
}


#contact{
    padding-top: 100px;
    padding-bottom: 100px;
}
.form-group{
    padding: 5 5 5 5;
}
.my-contact div{
    background-color: black;
}
#contact-me ul{
    padding-left: 5px;
    padding-right: 5px;
       margin-left:-15;
    margin-right: -15;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-bottom: 54px;
  border-top: 0;
  border-bottom:0;
    border-left: 1px solid darkred;
      border-right: 1px solid darkred;
       list-style-type: none;
}
#contact-me li{
    color: darkgoldenrod;
}
#contact-me btn-social-icon {
    color: darkgoldenrod;
}
img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
foot{
    height: 250px;
    background-color: black;
    color: white;
}

.scroll-down{
    text-align:center;
    position: fixed center;
    color: white;
    padding: 8px;
    height: 80px;
    width: 100px;
    margin: auto;
    bottom: 30px;
   
    /*border-radius: 100%;*/
    /*background-color: darkgoldenrod;*/
}
.scroll-down p{
    margin-bottom: -30px;
}
#raccoons{
    height: 75%;
   position: relative; 
   left: 600px; 
   top: 220px; 
   background-attachment: fixed;
}
/*#raccoon3.gif{

}*/
