
.bg-full{
   background:grey url('/app/img/Back3.jpg') center center no-repeat fixed;
     -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height: 100%;
}
#night{
   background:grey url('/app/img/Back4.jpg') center center no-repeat fixed;
     -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
    height: 100%;
}

.hero-text {
    color:grey;
    position: relative;
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding-top:15px;
}
.hero-caption {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.hero-text h1{
    color: white;
}
.module-hero {
    position: relative;
    background: black;
    margin-left:-15px;
    margin-right:-15px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#heading h1{ 
   color: e7ae22;
   padding-top:120px;
   font-size: 80px;

   }
   #heading p{
   color: grey;
   margin-top:0;
   font-size: 20px;
   }
   .nav a{
       color: grey;
        background-color:transparent !important;
   }
   .nav a:hover{
       background-color:transparent !important;
      color:goldenrod;
   }

   #heading{
       text-align:center;
       padding-top:170px;
   }
   .module-two {
    position: relative;
    background: white;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.hero-text img{
    height:300px;
    margin-top: 54px;
    margin-bottom:25px;
}
#title h1{ 
   color: e7ae22;
   margin-top:100px;
   padding-top:110px;
   font-size: 80px;

   }
   #title p{ 
   margin-top:0;
   font-size: 20px;
   }
   
   #title{
       text-align:center;
   }
   #title-skills{
       text-align:center;
   }
   #title-skills h1{ 
   color: e7ae22;
   margin-top:150px;
   padding-top:180px;
   font-size: 80px;
   }
     #title-skills p{ 
  text-decoration-line: narrow;
    color: grey;
   margin-top:0;
   font-size: 20px;
   }